@model NSE.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = Model.Title;
}

@{
    if (Model == null)
    {
        <div>
            <h2>
                Oops! Something went wrong, but don't worry. We'll let you know our schedule and we'll schedule it shortly!
            </h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>

    }
}
